<% include partials/header %>

<div class="container">
    <h1>Add Book</h1>
    <form method="post" action="/">
        <div class="form-group">
            <input type="text" name='book[title]' placeholder="book title" class="form-control">
        </div>
        
        <button class="btn btn-primary" type='submit'>Add Book</button>
        
    </form>
</div>


<% include partials/footer %>